<h1 class="titleHeading">Eat-Da-Burger again and again and again!</h1>


{{!-- container --}}
<div class="container">

  {{!-- list row --}}
  <div class="row listRow">

    {{!-- left list column --}}
    <div class="col-xs-6 listCol">

      <h2>Burgers on the menu!</h2>

      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
          {{/unless}}
        {{/each}}
      </ul>

    </div>
    {{!-- closes left list column --}}

    
    {{!-- right list column --}}
    <div class="col-xs-6 listCol">

      <h2>Burgers that you devoured!</h2>

      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devour=false}}
          {{/if}}
        {{/each}}
      </ul>

    </div>
    {{!-- closes right list column --}}
  


  </div>
  {{!-- closes list row --}}

  
  {{!-- newBurgerRow --}}
  <div class="row newBurgerRow">
  
    {{!-- newBurger --}}
    <div class="col-xs-12 newBurger">

      <form class="create-form">

        <div class="form-group formClass">
          <label for="ca">Make a new burger and press enter:</label>
          <input type="text" id="ca" name="name">
        </div>

      </form>

    </div>
    {{!-- closes newBurger --}}

  </div>
  {{!-- closes newBurgerRow --}}


</div>
{{!-- closes the container --}}
