body {
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}

.titleHeading {
	color: teal;
	text-align: center;
}

label {
	color: teal;
}

.formClass {
	text-align: center;
	margin-top: 15px;
}

.listCol {
	color: teal;
}

.foodBtn {
	margin-left: 5px;
}

